/* header*/

.logo-first {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-second {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000;
}

.menu {
}

.menu-item {
}

.menu-items:hover {
  color: #2196f3;
}

.header-contacts {
}

.header-contacts-item {
}
